.git
.gitignore
.gitmodules
.git/modules

node_modules
**/node_modules

circuits/node_modules
circuits/**/build*
circuits/**/*_js
circuits/**/*_cpp

contracts/out
contracts/cache
contracts/lib/forge-std
contracts/lib/openzeppelin-contracts

**/*.r1cs
**/*.wasm
**/*.sym
**/*.zkey
**/*.wtns
**/proof.json
**/public.json
**/vkey.json
**/calldata.txt

**/logs
**/*.log
.DS_Store
*.ptau

plans
.dockerignore
